/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.App{
    height:100vh;
    width: 100vw;
    background-color: cadetblue;
    text-align: center;
}

.nav-bar{
    background:grey;
    height:7em;
    border:2px solid red;
    border-radius: 10px;
    opacity: 0.8;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10em;
}

nav ul li{
    list-style-type:none;
    display:inline-block;
    margin:2em;
}

.book-list{
    background:pink;
    height:calc(100vh - 7em);
} */

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /* app styles */
  .App {
    max-width: 400px;
    margin: 30px auto;
    text-align: center;
  }
  nav{
    padding: 5px;
  }
  nav ul {
    padding: 0;
  }
  nav ul li {
    display: inline-block;
    margin: 0 10px;
  }
  .book-list {
    padding: 20px;
    margin-bottom: 20px;
  }
  .book-list ul{
    padding: 0;
    list-style-type: none;
  }
  .book-list li {
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
  }